<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>heartthrob: @ViewData["Title"]</title>

	<link rel="stylesheet" href="/lib/@@fortawesome/css/all.css" />
	<link rel="stylesheet" href="/lib/heartthrob/css/heartthrob.css" />
	@*<link rel="stylesheet" href="/lib/heartthrob/css/kendo.heartthrob.css" />*@

	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/jquery-ui-dist/jquery-ui.min.js"></script>
	<script src="~/lib/@@progress/js/kendo.all.min.js"></script>
	<script src="/lib/heartthrob/js/heartthrob.js"></script>

	<link href="/css/style.css" rel="stylesheet" />
	@*<link href="~/css/heartthrob.css" rel="stylesheet" />*@

	<!-- Prism -->
	<link href="/lib/prismjs/themes/prism-tomorrow.css" rel="stylesheet" />
	<script src="/lib/prismjs/prism.js"></script>
	<!-- End Prism -->

	<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png?v=7komgGo8Pv">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png?v=7komgGo8Pv">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png?v=7komgGo8Pv">
	<link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg?v=7komgGo8Pv" color="#5bbad5">
	<link rel="shortcut icon" href="/img/favicon/favicon.ico?v=7komgGo8Pv">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-TileImage" content="/img/favicon/mstile-144x144.png?v=7komgGo8Pv">
	<meta name="msapplication-config" content="/img/favicon/browserconfig.xml?v=7komgGo8Pv">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
	@*<partial name="_CookieConsentPartial" />*@
	<header class="header acrylic">
		<div class="container">
			<div class="logo">
				<a href="/">
					<h2>heatthrob</h2>
				</a>
			</div>
			<div class="line"></div>
			<nav>
				<ul>
					<li>
						<a href="/basic/" class="child"><i class="fa fa-home"></i> basics</a>
						<ul>
							<li><a href="/basic/grids/"><i class="fas fa-grip-horizontal"></i> grids</a></li>
							<li><a href="/basic/css/"><i class="fab fa-css3-alt"></i> css</a></li>
							<li><a href="/basic/layout/"><i class="fa fa-drafting-compass"></i> layout</a></li>
							@*<li><a href="/basic/kendo/"><i class="fas fa-user-ninja"></i> kendo</a></li>*@
						</ul>
					</li>
					@*<li><a href="/script/"><i class="fa fa-file-code"></i> scripts</a></li>*@
					<li><a href="/vision/"><i class="fa fa-eye"></i> vision</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="container">
		@RenderBody()
	</div>
	<div class="space-long"></div>

	<script src="~/lib/jquery.maskedinput/src/jquery.maskedinput.js"></script>
	<environment exclude="Development">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141025433-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'UA-141025433-1');
		</script>
		<script>
			hVision({
				subscriptionKey: ' TE PEGUEI HÁ!!! BOA AÍ SUA SUBSCRIPTION KEY ',
				localProjectWarning: false,
				uriBase: 'https://eastus.api.cognitive.microsoft.com/vision/v2.0/analyze',
			})
		</script>
	</environment>

	@RenderSection("Scripts", required: false)
</body>
</html>
