<div class="col-lg-3 col-md-5">
    <h3><i class="far fa-bell"></i> project status</h3>
    <p>heartthrob</p>
    <div class="row">
        <div class="col-md-6">
            <img src="https://dev.azure.com/vtnorton/Heartthrob/_apis/build/status/heartthrob?branchName=master" />
        </div>
        <div class="col-md-6">
            <a href="https://badge.fury.io/js/heartthrob" rel="nofollow"><img src="https://camo.githubusercontent.com/00406ee652843a388d266188aa769216eb6ce39f/68747470733a2f2f62616467652e667572792e696f2f6a732f68656172747468726f622e737667" alt="npm version" data-canonical-src="https://badge.fury.io/js/heartthrob.svg" style="max-width:110px;"></a>
        </div>
    </div>

    <div class="space-low"></div>
    <p>heartthrob-vision</p>
    <div class="row">
        <div class="col-md-6">
            <img src="https://dev.azure.com/vtnorton/Heartthrob/_apis/build/status/heartthrob-vision?branchName=master" />
        </div>
        <div class="col-md-6">
            <a href="https://badge.fury.io/js/heartthrob-vision"><img src="https://badge.fury.io/js/heartthrob-vision.svg" alt="npm version" style="max-width:110px;"></a>
        </div>
    </div>

    <div class="space-low"></div>
    <p>heartthrob-docs</p>
    <div class="row">
        <div class="col-md-6">
            <img src="https://dev.azure.com/vtnorton/Heartthrob/_apis/build/status/heartthrob-docs%20-%20master?branchName=master" />
        </div>
    </div>

    <div class="space-medium"></div>
    <h3><i class="fas fa-link"></i> repos + links</h3>
    <ul style="padding-left: 18px;">
        <li><a href="https://github.com/vtnorton/Heartthrob">GitHub project (heartthrob)</a></li>
        <li><a href="https://github.com/vtnorton/heartthrob-vision">GitHub project (heartthrob-vision)</a></li>
        <li><a href="https://github.com/vtnorton/Heartthrob-docs">GitHub project (heartthrob-docs)</a></li>
    </ul>

    <div class="space-low"></div>
    <p class="text-center"><strong>buy me a beer</strong></p>
    <form action="https://www.paypal.com/cgi-bin/webscr" style="max-width:150px; margin:0 auto" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="LVD99SWF4URZ4" />
        <input style="background:transparent; border: none" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Buy me a beer with PayPal button" />
    </form>

    <div class="space-long"></div>
    <p class="text-center">
        <small>made by <a href="https://vtnorton.com">vítor norton</a> | <a asp-area="" asp-controller="Home" asp-action="Privacy">privacy policy</a></small>
    </p>
</div>