
@{
    ViewData["Title"] = "Dialogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dialogs</h2>
<p>Dialog controls are modal UI overlays that provide contextual app information. They block interactions with the app window until being explicitly dismissed. They often request some kind of action from the user.</p>
<div class="space-medium"></div>
<h4>Example</h4>
<br />
<div class="row">
    <div class="col-md-6 docs-box">
        <div style="margin:20px">
            <div class="alert docs">
                <h3>Delete file permanently?</h3>
                <p>If you delete this file, you won’t be able to recover it. Do you want to delete it?</p>

                <a class="btn" href="#">Cancel</a> <a class="btn btn-primary" href="#">Yes</a>
            </div>
        </div>
    </div>
</div>
<div class="space-medium"></div>
<script>
    var x = {
        title: "Delete file permanently?",
        description: "If you delete this file, you won’t be able to recover it. Do you want to delete it?",
        cancel: "No",
        confirm: "Yes",
        action: "alert('vn');"
    };
</script>
<a class="btn" onclick="dialog(x);">Call dialog</a>
