
@{
    ViewData["Title"] = "Header";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Header</h2>
<p>The header, can take the following forms: </p>
<ul>
    <li>Show the project logo</li>
    <li>Icons on all navigation components</li>
    <li>Icon only on header navigation component, with the remaining components using plain text components.</li>
    <li>Icons on no navigation components.</li>
</ul>

<div class="space-medium"></div>
<h4>Examples</h4>
<br />
<div class="row">
    <div class="col-md-10">
        <header class="acrylic" style="width:80%">
            <div class="logo">
                <img alt="Logo" src="~/img/200px.png" />
            </div>
            <div class="line"></div>
            <ul>
                <li><a href="#" class="active"><i class="fa fa-home"></i>Dashboard</a></li>
                <li><a href="#"><i class="fa fa-line-chart"></i>Page</a></li>
                <li><a href="#">Another page</a></li>
            </ul>

            <div class="right">
                <ul>
                    <li class="search">
                        <a><i class="fa fa-search"></i></a>
                        <input type="text" name="search" placeholder="Type here to search" />
                    </li>
                    <li>
                        <a id="notifications"><i class="fa fa-inbox"></i></a>
                    </li>
                    <li>
                        <a onclick="openMenu(event, this);"><i class="fa fa-gears"></i></a>
                        <ul class="menu dark right">
                            <li><a href="#"><i class="fa fa-share"></i>Share</a></li>
                            <li><a href="#"><i class="fa fa-user"></i>Edit profile</a></li>
                            <li>
                                <a href="#" class="more"><i class="fa fa-gear"></i>More options...</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-share"></i>Share</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Edit profile</a></li>
                                </ul>
                            </li>
                            <li class="line"></li>
                            <li><a href="#" class="no-icon">Sign out</a></li>
                        </ul>
                    </li>
                    <li>
                        <a onclick="openMenu(event, this);"><div class="user-img"></div> Vítor Norton</a>
                        <ul class="menu dark right">
                            <li><a href="#"><i class="fa fa-share"></i>Share</a></li>
                            <li><a href="#"><i class="fa fa-user"></i>Edit profile</a></li>
                            <li>
                                <a href="#" class="more"><i class="fa fa-gear"></i>More options...</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-share"></i>Share</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Edit profile</a></li>
                                </ul>
                            </li>
                            <li class="line"></li>
                            <li><a href="#" class="no-icon">Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clean"></div>
        </header>
        <div class="clean"></div>
    </div>
</div>
<div class="space-long"></div>
<div class="space-long"></div>
<a onclick="addNotification();" class="btn">Add notification</a>
<a onclick="addNotificationNum(5);" class="btn">Add 5 notification</a>
<a onclick="clearNotification();" class="btn">Clear notification</a>
<div class="space-long"></div>

