
@{
    ViewData["Title"] = "Navigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Navigation</h2>
<h3>Menus</h3>
<p>Put your content here</p>
<div class="space-medium"></div>
<h4>Examples</h4>
<div class="row">
    <div class="col-md-2">
        <nav class="nav" style="height:540px; position:relative">
            <div class="nav-action">
                <a><i class="fa fa-navicon"></i></a>
            </div>
            <ul class="nav-top-menus">
                <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li>
                    <a class="child"><i class="fa fa-money"></i> First Menu </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-list-ul"></i> Option 1</a></li>
                    </ul>
                </li>
                <li>
                    <a class="child"><i class="fa fa-money"></i> First Menu </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-list-ul"></i> Option 1</a></li>
                        <li><a class="active" href="#"><i class="fa fa-list-ul"></i> Option 2</a></li>
                        <li><a href="#"><i class="fa fa-list-ul"></i> Option 3</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav-bottom-menus">
                <li>
                    <a class="child"><i class="fa fa-connectdevelop"></i> Administrativo </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-users"></i> Gerência de usuários</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-2 col-md-offset-1">
        <nav class="nav light" style="height:540px; position:relative">
            <div class="nav-action">
                <a><i class="fa fa-navicon"></i></a>
            </div>
            <ul class="nav-top-menus">
                <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li>
                    <a class="child"><i class="fa fa-money"></i> First Menu </a>
                    <ul>
                        <li><a class="active" href="#"><i class="fa fa-list-ul"></i> Option 1</a></li>
                        <li><a href="#"><i class="fa fa-list-ul"></i> Option 2</a></li>
                        <li><a href="#"><i class="fa fa-list-ul"></i> Option 3</a></li>
                    </ul>
                </li>
                <li>
                    <a class="child"><i class="fa fa-money"></i> First Menu </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-list-ul"></i> Option 1</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav-bottom-menus">
                <li>
                    <a class="child"><i class="fa fa-connectdevelop"></i> Administrativo </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-users"></i> Gerência de usuários</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-2 col-md-offset-1">
        <nav class="nav light middle" style="height:540px; position:relative">
            <ul class="nav-top-menus">
                <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li>
                    <a class="child"><i class="fa fa-money"></i> First Menu </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-list-ul"></i> Option 1</a></li>
                        <li><a class="active" href="#"><i class="fa fa-list-ul"></i> Option 2</a></li>
                    </ul>
                </li>
                <li>
                    <a class="child"><i class="fa fa-money"></i> First Menu </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-list-ul"></i> Option 1</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav-bottom-menus">
                <li>
                    <a class="child"><i class="fa fa-connectdevelop"></i> Administrativo </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-users"></i> Gerência de usuários</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="space-long"></div>
<h3>Tree view</h3>
<p>Lorem ipsum</p>
<div class="space-medium"></div>
<h4>Examples</h4>

<nav class="treeview">
    <ul>
        <li>
            <a>Item 1</a>
            <ul>
                <li><a>Option 1</a></li>
                <li><a>Option 2</a>
                    <ul>
                        <li><a class="active">Option 2.1</a></li>
                        <li><a>Option 2.2</a></li>
                        <li><a>Option 2.3</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a>Item 2</a>
        </li>
        <li>
            <a>Item 3</a>
            <ul>
                <li><a>Option 1</a></li>
                <li><a>Option 2</a></li>
                <li><a>Option 3</a></li>
            </ul>
        </li>
    </ul>
</nav>