
@{
    ViewData["Title"] = "scripts js";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

<h1>under construction</h1>
<p>There is a lot scripts inside heartthrob, fuctions to include or exclude cookies for example. I will update this page over the next weeks. </p>