<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Heartthrob</title>
	<link rel="stylesheet" href="~/lib/heartthrob/css/heartthrob.css" />
	<link rel="stylesheet" href="~/lib/heartthrob/css/kendo.heartthrob.css" />
	<link href="~/css/style.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
	<script src="https://code.jquery.com/jquery-1.12.1.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
	<script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
	<script src="~/lib/kendo-ui/js/cultures/kendo.culture.pt-BR.min.js"></script>
	<script src="~/lib/kendo-ui/js/messages/kendo.messages.pt-BR.min.js"></script>
	<script src="~/lib/heartthrob/js/heartthrob.js"></script>

	<script>
		kendo.culture("pt-BR");
	</script>

</head>
<body>
	<nav class="main" style="position:fixed; padding:20px">
		<h2>heatthrob</h2>
		<small>v1.0.0</small>
		<br /><br />
		<nav class="docs-menu">
			<ul>
				<li>
					<a href="/">Overview + How to install</a>
				</li>
			</ul>
		</nav>
		<hr />
		<nav class="docs-menu">
			<ul>
				<li>
					<a href="/pure/Typography">Only CSS</a>
					<ul>
						<li><a href="/pure/Buttons">Buttons & links</a></li>
						<li><a href="/pure/Inputs">Inputs</a></li>
						<li><a href="/pure/Classes">Util classes</a></li>
						<li><a href="/pure/Typography">Typography</a></li>
					</ul>
				</li>
				<li>
					<a href="/Layout/Cards">Layout elements</a>
					<ul>
						<li><a href="/Layout/Cards">Cards</a></li>
						<li><a href="/Layout/Dialogs">Dialog controls</a></li>
						<li><a href="/Layout/Header">Header</a></li>
						<li><a href="/Layout/Menus">Menus</a></li>
						<li><a href="/Layout/Navigation">Navigation</a></li>
					</ul>
				</li>
				<li>
					<a href="/Kendo/Grids">Kendo elements</a>
					<ul>
						<li><a href="/Kendo/Dialogs">Dialogs</a></li>
						<li><a href="/Kendo/Grids">Grids</a></li>
						<li><a href="/Kendo/Inputs">Inputs</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</nav>

	<content>
		@RenderBody()
	</content>
</body>
</html>
