<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Heartthrob</title>
    <link rel="stylesheet" href="~/lib/heartthrob/css/heartthrob.css" />
    <link rel="stylesheet" href="~/lib/heartthrob/css/kendo.heartthrob.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/heartthrob/js/heartthrob.js"></script>
    <script src="/kendo-ui/js/kendo.all.min.js"></script>
    <script src="/kendo-ui/js/kendo.aspnetmvc.min.js"></script>

    <script>
        kendo.culture("pt-BR");
    </script>

</head>
<body>
    <nav class="main" style="position:fixed; padding:20px">
        <h2>Heatthrob: The CSS</h2>
        <hr />
        <nav class="treeview">
            <ul>
                <li>
                    <a href="/">Pure CSS</a>
                    <ul>
                        <li><a href="/pure/Buttons">Buttons & links</a></li>
                        <li><a href="/pure/Inputs">Inputs</a></li>
                        <li><a href="/pure/Classes">Util classes</a></li>
                        <li><a class="active" href="/">Typography</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/Layout/Cards">Layout elements</a>
                    <ul>
                        <li><a href="/Layout/Cards">Cards</a></li>
                        <li><a href="/Layout/Dialog">Dialog controls</a></li>
                        <li><a href="/Layout/Header">Header</a></li>
                        <li><a href="/Layout/Menus">Menus</a></li>
                        <li><a href="/Layout/Navigation">Navigation</a></li>
                    </ul>
                </li>
                <li><a href="/Kendo/Grids">Kendo elements</a>
                    <ul>
                        <li><a href="/Kendo/Dialogs">Dialogs</a></li>
                        <li><a href="/Kendo/Grids">Grids</a></li>
                        <li><a href="/Kendo/Inputs">Inputs</a></li>
                    </ul>
                </li>
                <li><a href="/Account">Account page</a></li>
                <li><a href="/Scripts">Scripts</a></li>
            </ul>
        </nav>
    </nav>

    <content>
        @RenderBody()
    </content>
</body>
</html>
