
@{
    ViewData["Title"] = "Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Classes</h2>

<h3>Util classes</h3>
<p>You can use classes like <i>space-long</i>, <i>space-medium</i> and <i>space-low</i> to add a white space with the height of 48px, 30px and 15px, successively.</p>
<p>You can as well use the class <i>tag</i> to create a more relevant content like <span class="tag">this one</span>.</p><br />
<p>In this framework, you can use the classes <i>left</i>, <i>right</i>, <i>center</i> to help you positionate you content, after using those, you will need to use the <i>clear</i> the clear both. You can use the <i>show</i> and the <i>hide</i> class to make your element visible or hidden.</p>

