
@{
    ViewData["Title"] = "Typography";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Typography</h2>
@*<h2>Pure CSS</h2>
<p>The heartthrob framework (heartthrob.css) can add more elegancy to your project, here you will find the basic stuff from this ultimate framework.</p>*@

<div class="space-medium"></div>
<h3>Titles and texts</h3>
<p>You can use classes like <i>link</i>, <i>text-left</i>, <i>text-right</i>, <i>text-center</i>, <i>text-justify</i>, <i>text-lowercase</i>, <i>text-uppercase</i>, <i>text-capitalize</i> to recreate those functions.</p>
<p>There is also a control for the weight of the font that you are using, with the claases <i>text-light</i>, <i>text-bold</i>, <i>text-extra-bold</i>. You can control the color by using <i>text-black</i>, <i>text-mid-black</i>, <i>text-white</i>.</p>
<p>Use titles to help your users navige across you web portal. The tags <i>b</i>, <i>strong</i> will have the same style as the <i>h4</i> title.</p>
<div class="space-medium"></div>

<h4>Examples</h4>
<br />
<h1>This is a h1 title</h1>
<h2>This is a h2 title</h2>
<h3>This is a h3 title</h3>
<h4>This is a h4 title</h4>
<h5>This is a h5 title</h5>
<h6>This is a h6 title</h6>

<div class="space-medium"></div>
<p>The tag <i>small</i> will make your text <small>looks a little bit small</small>.</p>
<p>The paragraph will always be a more clear than the usual black. You can use the <i>hr</i> to create a line.</p>
<div class="space-medium"></div>
<h4>Example</h4>
<br />
<div class="row">
    <div class="col-md-6">
        <hr />
    </div>
</div>

<h3>Blockquote</h3>
<h4>Example</h4>
<br />
<div class="row">
    <div class="col-md-6">
        <blockquote>
            Here you can view a simple text.
            <footer>If you use <i>footer</i> inside the blockquote you have a nice text like this</footer>
        </blockquote>
    </div>
</div>

