
@{
    ViewData["Title"] = "Inputs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inputs</h2>
<h3>Simple text box</h3>
<p>Simple text boxes should be used for 1-line entries—if additional space is needed, use the rich text box. These fields may be used for password entry, see the example below. When the text box is inactive, the border is black at 20% opacity and the fill is white at 40% opacity. When active, the border is the accent/brand color at 100% opacity, and the fill is white at 100% opacity.</p>

<div class="space-medium"></div>
<h4>Examples</h4>
<input type="text" placeholder="Simple text box" />
<br />
<input type="text" disabled placeholder="Disabled text box" />
<div class="space-medium"></div>
<p>Labels may be placed either above or to the left side of the input field. When placed on the left side, ensure all the input fields line up along the left edge.</p>

<div class="space-medium"></div>
<h3>Auto-suggest box</h3>
<p>Use an AutoSuggestBox to provide a list of suggestions for a user to select from as they type. You can use <a href="https://jqueryui.com/autocomplete/">jQuery-ui Autocomplete</a> to do so.</p>
<div class="space-medium"></div>
<h4>Examples</h4>
<script>
    $(function () {
        var availableTags = ["ActionScript", "AppleScript", "Asp", "BASIC", "C", "C++", "Clojure", "COBOL", "ColdFusion", "Erlang", "Fortran", "Groovy", "Haskell", "Java", "JavaScript", "Lisp", "Perl", "PHP", "Python", "Ruby", "Scala", "Scheme"];
        $("#tags").autocomplete({
            source: availableTags
        });
    });
</script>
<input id="tags">
<p>The Autocomplete widgets provides suggestions while you type into the field. Here the suggestions are tags for programming languages, give "ja" (for Java or JavaScript) a try.</p>

<div class="space-long"></div>
<h3>Checkbox</h3>
<p>A checkbox is used to select or deselect action items. It can be used for a single item or for a list of multiple items that a user can choose from. The control has three selection states: unselected and selected.</p>
<div class="space-medium"></div>
<h4>Examples</h4>
<br />

<input type="checkbox" id="1" /><label for="1">Checkbox unselected</label><br />
<input type="checkbox" id="2" checked /><label for="2">Checkbox selected</label><br />
<input type="checkbox" id="3" disabled /><label for="3">Checkbox disabled</label><br />

<div class="space-long"></div>
<h3>Radio button</h3>
<p>A radio button is used for two or more mutually exclusive options.</p>
<div class="space-medium"></div>
<h4>Examples</h4>
<br />
<input type="radio" id="10" /><label for="10">Checkbox unselected</label><br />
<input type="radio" id="20" checked /><label for="20">Checkbox selected</label><br />
