
@{
    ViewData["Title"] = "Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Layout</h2>
<h3>Menus</h3>
<p>Have a single entry point (a File menu at the top of the screen, for example) that is always displayed. Are usually attached to a button or a parent menu item. Are invoked by left-clicking (or an equivalent action, such as tapping with your finger). </p>

<h4>Examples</h4>
<br />
<div class="row">
    <div class="col-md-5 docs-box">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary" onclick="openMenu(event, this);" style="margin:20px 20px 0">Open menu</a>
                <ul class="menu" id="demo-1" style="margin-left:20px;">
                    <li><a href="#"><i class="fa fa-share"></i>Share</a></li>
                    <li><a href="#"><i class="fa fa-user"></i>Edit profile</a></li>
                    <li>
                        <a href="#" class="more"><i class="fa fa-gear"></i>More options...</a>
                        <ul>
                            <li><a href="#"><i class="fa fa-share"></i>Share</a></li>
                            <li>
                                <a href="#" class="more"><i class="fa fa-user"></i>Edit profile</a>
                                <ul>
                                    <li><a href="#" class="no-icon">Change password</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="line"></li>
                    <li><a href="#" class="no-icon">Sign out</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <a class="btn" onclick="openMenu(event, this);" style="margin:20px 20px 0">Open right menu</a>
                <ul class="menu right" style="margin-left:20px;">
                    <li><a href="#"><i class="fa fa-share"></i>Share</a></li>
                    <li><a href="#"><i class="fa fa-user"></i>Edit profile</a></li>
                    <li>
                        <a href="#" class="more"><i class="fa fa-gear"></i>More options...</a>
                        <ul>
                            <li><a href="#"><i class="fa fa-share"></i>Share</a></li>
                            <li><a href="#"><i class="fa fa-user"></i>Edit profile</a></li>
                        </ul>
                    </li>
                    <li class="line"></li>
                    <li><a href="#" class="no-icon">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="space-long"></div>
<h3>Dialog controls</h3>
<p>Dialog controls are modal UI overlays that provide contextual app information. They block interactions with the app window until being explicitly dismissed. They often request some kind of action from the user.</p>
<div class="space-medium"></div>
<h4>Example</h4>
<br />
<div class="row">
    <div class="col-md-6 docs-box">
        <div style="margin:20px">
            <div class="alert docs">
                <h3>Delete file permanently?</h3>
                <p>If you delete this file, you won’t be able to recover it. Do you want to delete it?</p>

                <a class="btn" href="#">Cancel</a> <a class="btn btn-primary" href="#">Yes</a>
            </div>
        </div>
    </div>
</div>
<div class="space-medium"></div>
<script>
    var x = {
        title: "Delete file permanently?",
        description: "If you delete this file, you won’t be able to recover it. Do you want to delete it?",
        cancel: "Cancel",
        confirm: "Yes",
        action: "alert('vn');"
    };
</script>
<a class="btn" onclick="dialog(x);">Call dialog</a>
@*<a onclick="dialog('Delete file permanently?', 'If you delete this file, you won’t be able to recover it. Do you want to delete it?');" class="btn">Call Dialog</a>*@

<div class="alert-modal">
    <div class="alert">
        <h3>Delete file permanently?</h3>
        <p>If you delete this file, you won’t be able to recover it. Do you want to delete it?</p>
        <a class="btn close-button" onclick="closeDialog();">Cancel</a> <a class="btn btn-primary" href="#">Yes</a>
    </div>
</div>

<div class="space-long"></div>
<h3>Header</h3>
<p>The header, can take the following forms: </p>
<ul>
    <li>Show the project logo</li>
    <li>Icons on all navigation components</li>
    <li>Icon only on header navigation component, with the remaining components using plain text components.</li>
    <li>Icons on no navigation components.</li>
</ul>

<div class="space-medium"></div>
<h4>Examples</h4>
<br />
<div class="row">
    <div class="col-md-10">
        <header class="acrylic">
            <div class="logo">
                <img alt="Logo" src="~/img/200px.png" />
            </div>
            <div class="line"></div>
            <ul>
                <li><a href="#" class="active"><i class="fa fa-home"></i>Dashboard</a></li>
                <li><a href="#"><i class="fa fa-line-chart"></i>Page</a></li>
                <li><a href="#">Another page</a></li>
            </ul>

            <div class="right">
                <ul>
                    <li class="search">
                        <a><i class="fa fa-search"></i></a>
                        <input type="text" name="search" placeholder="Type here to search" />
                    </li>
                    <li>
                        <a id="notifications"><i class="fa fa-inbox"></i></a>
                    </li>
                    <li>
                        <a onclick="openMenu(event, this);"><i class="fa fa-gears"></i></a>
                        <ul class="menu dark right">
                            <li><a href="#"><i class="fa fa-share"></i>Share</a></li>
                            <li><a href="#"><i class="fa fa-user"></i>Edit profile</a></li>
                            <li>
                                <a href="#" class="more"><i class="fa fa-gear"></i>More options...</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-share"></i>Share</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Edit profile</a></li>
                                </ul>
                            </li>
                            <li class="line"></li>
                            <li><a href="#" class="no-icon">Sign out</a></li>
                        </ul>
                    </li>
                    <li>
                        <a onclick="openMenu(event, this);"><div class="user-img"></div> Vítor Norton</a>
                        <ul class="menu dark right">
                            <li><a href="#"><i class="fa fa-share"></i>Share</a></li>
                            <li><a href="#"><i class="fa fa-user"></i>Edit profile</a></li>
                            <li>
                                <a href="#" class="more"><i class="fa fa-gear"></i>More options...</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-share"></i>Share</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Edit profile</a></li>
                                </ul>
                            </li>
                            <li class="line"></li>
                            <li><a href="#" class="no-icon">Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clean"></div>
        </header>
    </div>
</div>
<div class="space-medium"></div>
<a onclick="addNotification();" class="btn">Add notification</a>
<a onclick="addNotificationNum(5);" class="btn">Add 5 notification</a>
<a onclick="clearNotification();" class="btn">Clear notification</a>
<div class="space-long"></div>

<h3>Container elements - cards</h3>
<p>Put your content here</p>
<div class="space-medium"></div>
<h4>Examples</h4>
<br />
<div class="row">
    <div class="col-md-10 docs-box" style="padding:20px 10px">
        <div class="row">
            <div class="col-md-8">
                <div class="card acrylic">
                    <h4>Your content here</h4>
                    <hr />
                    <p>
                        Bacon ipsum dolor amet pork chop burgdoggen boudin, spare ribs tenderloin tongue porchetta ribeye brisket doner jowl picanha andouille. Pork loin jowl kielbasa boudin sausage, cupim drumstick landjaeger t-bone corned beef short ribs pork chop prosciutto. Ham tail bacon jerky shank alcatra, fatback turkey shankle beef corned beef. Venison pancetta short ribs t-bone pig andouille, flank jerky beef ribs sirloin drumstick. Short loin brisket pork chop chicken, pork belly porchetta landjaeger pork loin boudin ribeye beef doner. Tail prosciutto kevin boudin beef ribs shank. Andouille venison cupim chicken.
                    </p><br />
                    <p>
                        Ground round capicola sausage ribeye doner. Strip steak pig ball tip meatloaf ground round salami, chicken drumstick. Venison swine prosciutto andouille burgdoggen. Biltong pork belly tail, tri-tip pork chop shankle bacon strip steak doner drumstick ball tip beef bresaola boudin.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card acrylic">
                    <h4>Another content with actions</h4>
                    <div class="taskbar">
                        <div class="right">
                            <a href="#" class="btn btn-primary"><i class="fa fa-save"></i> Save</a>
                        </div>
                        <div class="clean"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10" style="padding:20px 10px">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <h4>Your content here</h4>
                    <hr />
                    <p>
                        Bacon ipsum dolor amet pork chop burgdoggen boudin, spare ribs tenderloin tongue porchetta ribeye brisket doner jowl picanha andouille. Pork loin jowl kielbasa boudin sausage, cupim drumstick landjaeger t-bone corned beef short ribs pork chop prosciutto. Ham tail bacon jerky shank alcatra, fatback turkey shankle beef corned beef. Venison pancetta short ribs t-bone pig andouille, flank jerky beef ribs sirloin drumstick. Short loin brisket pork chop chicken, pork belly porchetta landjaeger pork loin boudin ribeye beef doner. Tail prosciutto kevin boudin beef ribs shank. Andouille venison cupim chicken.
                    </p><br />
                    <p>
                        Ground round capicola sausage ribeye doner. Strip steak pig ball tip meatloaf ground round salami, chicken drumstick. Venison swine prosciutto andouille burgdoggen. Biltong pork belly tail, tri-tip pork chop shankle bacon strip steak doner drumstick ball tip beef bresaola boudin.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h4>Another content with actions</h4>
                    <div class="taskbar">
                        <div class="right">
                            <a href="#" class="btn"><i class="fa fa-arrow-left"></i> Cancel</a> <a href="#" class="btn btn-primary"><i class="fa fa-save"></i> Save</a>
                        </div>
                        <div class="clean"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-medium"></div>
<h4>Examples with steps</h4>
<br />
<div class="row">
    <div class="col-md-8 docs-box" style="padding:20px 10px; height:500px">
        <div class="cards-steps">
            <div class="card opened acrylic" id="part1">
                <h4>Your content here</h4>
                <hr />
                <p>
                    Ground round capicola sausage ribeye doner. Strip steak pig ball tip meatloaf ground round salami, chicken drumstick. Venison swine prosciutto andouille burgdoggen. Biltong pork belly tail, tri-tip pork chop shankle bacon strip steak doner drumstick ball tip beef bresaola boudin.
                </p>
                <div class="taskbar">
                    <a onclick="setDone('part1'); goToStep('part2', 'part1'); " class="btn btn-primary">Next step</a>
                </div>
            </div>

            <div class="card acrylic" id="part2">
                <h4>Your content here</h4>
                <hr />
                <p>
                    Ground round capicola sausage ribeye doner. Strip steak pig ball tip meatloaf ground round salami, chicken drumstick. Venison swine prosciutto andouille burgdoggen. Biltong pork belly tail, tri-tip pork chop shankle bacon strip steak doner drumstick ball tip beef bresaola boudin.
                </p>
                <div class="taskbar">
                    <a onclick="setWarning('part2'); goToStep('part1', 'part2')" class="btn btn">Back</a>
                    <a onclick="goToStep('part3', 'part2')" class="btn btn-primary">Next step</a>
                </div>
            </div>

            <div class="card acrylic" id="part3">
                <h4>Your content here</h4>
                <hr />
                <p>
                    Ground round capicola sausage ribeye doner. Strip steak pig ball tip meatloaf ground round salami, chicken drumstick. Venison swine prosciutto andouille burgdoggen. Biltong pork belly tail, tri-tip pork chop shankle bacon strip steak doner drumstick ball tip beef bresaola boudin.
                </p>
                <div class="taskbar">
                    <a onclick="goToStep('part2', 'part3')" class="btn btn">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-medium"></div>
<h4>Examples of boxes with actions</h4>
<br />
<div class="row">
    <div class="col-md-5 docs-box" style="padding:20px 10px; height: 400px">
        <div class="cards-actions">
            <div class="card link acrylic">
                <h4>Your content here</h4>
                <hr />
                <p>
                    Ground round capicola sausage ribeye doner. Strip steak pig ball tip meatloaf ground round salami, chicken drumstick. Venison swine prosciutto andouille burgdoggen. Biltong pork belly tail, tri-tip pork chop shankle bacon strip steak doner drumstick ball tip beef bresaola boudin.
                </p>
            </div>

            <div class="card link acrylic">
                <h4>Your content here</h4>
                <hr />
                <p>
                    Ground round capicola sausage ribeye doner. Strip steak pig ball tip meatloaf ground round salami, chicken drumstick. Venison swine prosciutto andouille burgdoggen. Biltong pork belly tail, tri-tip pork chop shankle bacon strip steak doner drumstick ball tip beef bresaola boudin.
                </p>
            </div>

            <div class="card link acrylic">
                <h4>Your content here</h4>
                <hr />
                <p>
                    Ground round capicola sausage ribeye doner. Strip steak pig ball tip meatloaf ground round salami, chicken drumstick. Venison swine prosciutto andouille burgdoggen. Biltong pork belly tail, tri-tip pork chop shankle bacon strip steak doner drumstick ball tip beef bresaola boudin.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="space-long"></div>
<h3>Navigation</h3>
<p>Put your content here</p>
<div class="space-medium"></div>
<h4>Examples</h4>
<div class="row">
    <div class="col-md-2">
        <nav class="nav" style="height:540px; position:relative">
            <div class="nav-action">
                <a><i class="fa fa-navicon"></i></a>
            </div>
            <ul class="nav-top-menus">
                <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li>
                    <a class="child"><i class="fa fa-money"></i> First Menu </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-list-ul"></i> Option 1</a></li>
                    </ul>
                </li>
                <li>
                    <a class="child"><i class="fa fa-money"></i> First Menu </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-list-ul"></i> Option 1</a></li>
                        <li><a class="active" href="#"><i class="fa fa-list-ul"></i> Option 2</a></li>
                        <li><a href="#"><i class="fa fa-list-ul"></i> Option 3</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav-bottom-menus">
                <li>
                    <a class="child"><i class="fa fa-connectdevelop"></i> Administrativo </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-users"></i> Gerência de usuários</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-2 col-md-offset-1">
        <nav class="nav light" style="height:540px; position:relative">
            <div class="nav-action">
                <a><i class="fa fa-navicon"></i></a>
            </div>
            <ul class="nav-top-menus">
                <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li>
                    <a class="child"><i class="fa fa-money"></i> First Menu </a>
                    <ul>
                        <li><a class="active" href="#"><i class="fa fa-list-ul"></i> Option 1</a></li>
                        <li><a href="#"><i class="fa fa-list-ul"></i> Option 2</a></li>
                        <li><a href="#"><i class="fa fa-list-ul"></i> Option 3</a></li>
                    </ul>
                </li>
                <li>
                    <a class="child"><i class="fa fa-money"></i> First Menu </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-list-ul"></i> Option 1</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav-bottom-menus">
                <li>
                    <a class="child"><i class="fa fa-connectdevelop"></i> Administrativo </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-users"></i> Gerência de usuários</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-2 col-md-offset-1">
        <nav class="nav light middle" style="height:540px; position:relative">
            <ul class="nav-top-menus">
                <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li>
                    <a class="child"><i class="fa fa-money"></i> First Menu </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-list-ul"></i> Option 1</a></li>
                        <li><a class="active" href="#"><i class="fa fa-list-ul"></i> Option 2</a></li>
                    </ul>
                </li>
                <li>
                    <a class="child"><i class="fa fa-money"></i> First Menu </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-list-ul"></i> Option 1</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav-bottom-menus">
                <li>
                    <a class="child"><i class="fa fa-connectdevelop"></i> Administrativo </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-users"></i> Gerência de usuários</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="space-long"></div>
<div class="space-long"></div>
<div class="space-long"></div>
