
@{
    ViewData["Title"] = "Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Layout</h2>
<h3>Menus</h3>
<p>Have a single entry point (a File menu at the top of the screen, for example) that is always displayed. Are usually attached to a button or a parent menu item. Are invoked by left-clicking (or an equivalent action, such as tapping with your finger). </p>

<h4>Examples</h4>
<br />
<div class="row">
    <div class="col-md-5 docs-box">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary" onclick="openMenu(event, this);" style="margin:20px 20px 0">Open menu</a>
                <ul class="menu" id="demo-1" style="margin-left:20px;">
                    <li><a href="#"><i class="fa fa-share"></i>Share</a></li>
                    <li><a href="#"><i class="fa fa-user"></i>Edit profile</a></li>
                    <li>
                        <a href="#" class="more"><i class="fa fa-gear"></i>More options...</a>
                        <ul>
                            <li><a href="#"><i class="fa fa-share"></i>Share</a></li>
                            <li>
                                <a href="#" class="more"><i class="fa fa-user"></i>Edit profile</a>
                                <ul>
                                    <li><a href="#" class="no-icon">Change password</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="line"></li>
                    <li><a href="#" class="no-icon">Sign out</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <a class="btn" onclick="openMenu(event, this);" style="margin:20px 20px 0">Open right menu</a>
                <ul class="menu right" style="margin-left:20px;">
                    <li><a href="#"><i class="fa fa-share"></i>Share</a></li>
                    <li><a href="#"><i class="fa fa-user"></i>Edit profile</a></li>
                    <li>
                        <a href="#" class="more"><i class="fa fa-gear"></i>More options...</a>
                        <ul>
                            <li><a href="#"><i class="fa fa-share"></i>Share</a></li>
                            <li><a href="#"><i class="fa fa-user"></i>Edit profile</a></li>
                        </ul>
                    </li>
                    <li class="line"></li>
                    <li><a href="#" class="no-icon">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="space-long"></div>
<h3>Dialog controls</h3>
<p>Dialog controls are modal UI overlays that provide contextual app information. They block interactions with the app window until being explicitly dismissed. They often request some kind of action from the user.</p>
<div class="space-medium"></div>
<h4>Example</h4>
<br />
<div class="row">
    <div class="col-md-6 docs-box">
        <div style="margin:20px">
            <div class="alert">
                <h3>Delete file permanently?</h3>
                <p>If you delete this file, you won’t be able to recover it. Do you want to delete it?</p>

                <a class="btn btn-primary" href="#">Delete</a> <a class="btn" href="#">Cancel</a>
            </div>
        </div>
    </div>
</div>

<div class="space-long"></div>
<h3>Header</h3>
<p>The header, can take the following forms: </p>
<ul>
    <li>Show the project logo</li>
    <li>Icons on all navigation components</li>
    <li>Icon only on header navigation component, with the remaining components using plain text components.</li>
    <li>Icons on no navigation components.</li>
</ul>

<div class="space-medium"></div>
<h4>Examples</h4>
<br />
<div class="row">
    <div class="col-md-10">
        <header>
            <div class="logo">
                <img alt="Logo" src="~/img/200px.png" />
            </div>
            <div class="line"></div>
            <ul>
                <li><a href="#" class="active"><i class="fa fa-home"></i>Dashboard</a></li>
                <li><a href="#"><i class="fa fa-line-chart"></i>Page</a></li>
                <li><a href="#">Another page</a></li>
            </ul>

            <div class="right">
                <ul>
                    <li class="search">
                        <a><i class="fa fa-search"></i></a>
                        <input type="text" name="search" placeholder="Type here to search" />
                    </li>
                    <li>
                        <a id="notifications"><i class="fa fa-inbox"></i></a>
                    </li>
                    <li>
                        <a onclick="openMenu(event, this);"><i class="fa fa-gears"></i></a>
                        <ul class="menu right" style="margin-left:20px;">
                            <li><a href="#"><i class="fa fa-share"></i>Share</a></li>
                            <li><a href="#"><i class="fa fa-user"></i>Edit profile</a></li>
                            <li>
                                <a href="#" class="more"><i class="fa fa-gear"></i>More options...</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-share"></i>Share</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Edit profile</a></li>
                                </ul>
                            </li>
                            <li class="line"></li>
                            <li><a href="#" class="no-icon">Sign out</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><div class="user-img"></div> Vítor Norton</a>
                    </li>
                </ul>
            </div>
            <div class="clean"></div>
        </header>
    </div>
</div>
<div class="space-long"></div>
<a onclick="addNotification();" class="btn">Add notification</a>
<a onclick="addNotificationNum(5);" class="btn">Add 5 notification</a>
<a onclick="clearNotification();" class="btn">Clear notification</a>

<div class="space-long"></div>
<div class="space-long"></div>
<div class="space-long"></div>
<div class="space-long"></div>