@{
    ViewData["Title"] = "overview";
}

<h1><i class="far fa-star"></i> heartthrob: overview</h1>


<div class="space-low"></div>
<div class="row heartthrob-hero-cards">
    <div class="col-lg-3 col-md-4">
        <div class="card">
            <h4>🔥 heartthrob: the css + js framework</h4>
            <hr />
            <p>The heartthrob framework can add more elegance to your project using Fluent Design and the bootstrap grid system, here you will find the basic stuff from this ultimate framework.</p>
            <div class="space-low"></div>
            <a href="/basic"><i class="fa fa-chevron-right"></i> see documentation</a>
        </div>
    </div>
    <div class="col-lg-3 col-md-4">
        <div class="card">
            <h4>♿ heartthrob-vision</h4>
            <hr />
            <p>With a simple configuration you can make your website more accessible by adding description to your images automatically via Azure Cognitive Services.</p>
            <div class="space-low"></div>
            <a href="/vision"><i class="fa fa-chevron-right"></i> see documentation</a>
        </div>
    </div>
</div>

<div class="space-medium"></div>
<h2><i class="fas fa-th-large"></i> projects using hearrthrob</h2>

<div class="space-low"></div>
<div class="row heartthrob-hero-projects">
    <div class="col-lg-3 col-md-4">
        <div class="card">
            <img src="/img/projects/vtnorton.png" alt="Screenshot of the vtnorton.com website" />
            <br />
            <figcaption><a href="https://vtnorton.com"><i class="fa fa-chevron-right"></i> vtnorton.com</a></figcaption>
        </div>

    </div>
</div>

<div class="space-low"></div>
<p>Want to see your project here? <a href="mailto:contato@vtnorton.com">Tell me about it</a>!</p>

<div class="space-medium"></div>
<div class="row">
    <div class="col-lg-9 col-md-7">

        <h2><i class="fab fa-github"></i> contribute: let's build it together</h2>
        <p>
            I [<a href="https://vtnorton.com">the author</a>] and my team are using it in the solutions we build every single day, so expect nice fixes
            and small additions as it will be more and more compatible with Kendo and other browsers.
        </p>

        <p>I'm more than open to have contributions to this project, so go to the GitHub page to help me make it even better!</p>
        <br />
        <a href="https://github.com/vtnorton/Heartthrob" class="btn btn-link" style="display:inline"><i class="fab fa-github"></i> heartthrob</a><br />
        <a href="https://github.com/vtnorton/Heartthrob-docs" class="btn btn-link"><i class="fab fa-github"></i> heartthrob-docs</a>
        <br />
        <p>We use continuous deployment/delivery to share the latest bits to you, so we ship fixes and new features as PATCH versions 1.1.XX, if we change anything that will require you to update your code than we will update the MINOR version with a blog post on what it had changed.</p>


        <div class="space-medium"></div>
        <h3><i class="fas fa-code-branch"></i> how to contribute</h3>
        <p>Here is a quicky guide in how to contribute to the framework:</p>
        <ol>
            <li>
                Clone <a href="https://github.com/vtnorton/Heartthrob">the project from GitHub</a>. <br /><br />
                <code>git clone https://github.com/vtnorton/Heartthrob.git</code><br /><br />
            </li>
            <li>Use <code>npm install</code> to install all dependencies</li>
            <li>Use any editor you want to make any changes inside <code>/src</code></li>
            <li>Once is finished and you want to build what you created, just run the command: <code>gulp build</code>, and a folder <code>/build</code> will appear, use that folder to implement across your system.</li>
        </ol>

        <br />
        <p>And now here is a quicky guide in how to contribute to the <strong>documentation</strong>:</p>
        <ol>
            <li>
                Clone <a href="https://github.com/vtnorton/Heartthrob-docs">the project from GitHub</a>. <br /><br />
                <code>git clone https://github.com/vtnorton/Heartthrob-docs</code><br /><br />
            </li>
            <li>Use <code>npm install</code> to install all dependencies</li>
            <li>Use <code>gulp restore</code> to restore dependencies such as font-awesome and heartthrob itself to the folder <code>/lib</code></li>
            <li>Use any editor you want to make any changes inside <code>/src</code></li>
        </ol>


        <div class="space-medium"></div>
        <h3><i class="far fa-comments"></i> don't code? Still want to contribute!?</h3>
        <p>Here is a few things you can do - almost in every open source project - that would help it be even better:</p>
        <ul>
            <li>Found something cool on the internet that you want to be added here? <a href="https://github.com/vtnorton/Heartthrob/issues">Tell me!</a></li>
            <li>Found a bug, please <a href="https://github.com/vtnorton/Heartthrob/issues">report</a>! Will fix it ASAP - <i>this is actually the code my team uses every single day.</i></li>
            <li>This documentation can be improved somehow? <a href="https://github.com/vtnorton/Heartthrob/issues">Just say it to me</a> and will do my best! </li>
            <li>Something is missing, in the documentation, the repository, or in your life? <a href="https://github.com/vtnorton/Heartthrob/issues">You will be heard!</a></li>
            <li>Follow me on <a href="https://twitter.com/vt_norton">@@vt_norton</a> and in my <a href="https://vtnorton.com/blog">blog</a> to have info about updates!</li>
        </ul>

        <div class="space-medium"></div>
        <h3><i class="fas fa-layer-group"></i> project roadmap</h3>
        <p>I'm sharing with some of my plans to move forward with heartthrob as I'm focused on: </p>
        <ul>
            <li><strong>Accessibility:</strong> I want to make it more accessible for every person in the world and make it easy for developers to create accessible websites.</li>
            <li><strong>Kendo UI compatibility:</strong> A lot of work to make a full compatibility with kendo is needed - including for different browsers. Also I'm focused on simplifing the kendo.heartthrob.css file.</li>
        </ul>
        <p>I welcome contributions of all kinds from the community, but especially those that support the efforts above.</p>
    </div>
    <partial name="_SidebarPartial" />
</div>